.invalid-password-check {
  color: #f56868;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

body {
  font-family: Arial, sans-serif;
}

form {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  font-size: 18px;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}